#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

blockquote {
  background-color: aquamarine;
  font-weight: 600;
}

.nav {
  width: 30%;
  padding: 20px; 
  background: #0d1117; 
  color: white;
}

.content {
  width: 70%;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link.active {
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}

button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #3a86ff;
  color: white;
  transition: 0.3s ease;
}

button:hover {
  background-color: #265cb1;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

